@charset "UTF-8";

 @media only screen and (min-width: 600px) {
body{
    
        background-color: rgb(45, 26, 131);
    
}
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

main{
    height: 60vh;
    width: 90vw;
}
section.meio > div.login-image{
float: left;
width: 30%;
height: 60vh;
border-top-right-radius: 0%;
border-bottom-left-radius: 5%;
}
section.meio > div.end{
float: right;
width: 65%;
}
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

main{
    height: 50vh;
    max-width: 600px;
}
section.meio > div.login-image{
float: left;

height: 50vh;
border-top-right-radius: 0%;
border-bottom-left-radius: 5%;
}


 }
 