@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*paleta de cores: verde:#14E02A marrom: #E0842B azul-estranho:#5D2BE0*/
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }                 
body{

background-color: #5D2BE0;

}
main{
    box-shadow: -6px -6px 7px rgba(0, 0, 0, 0.555), 6px 6px 7px rgba(0, 0, 0, 0.555);
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    transition: width 0.4s, height 0.4s;

}
.login-image{ 
    display: block;
    height: 20vh;
   background: red url(entrada.jpg) no-repeat; 

    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    background-position: center;
}

.meio h1{
    text-align: center;
    font-family: 'Righteous', cursive;

}

.end{
    display: block;
    margin: auto;
    width: 100%;
}
.end .texto{
    width:  auto;
    margin-left: 3%;

    
}

.texto {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.77rem;
    text-indent:0.5rem ;
}
.dados{
    margin: 5px 0px;
 }
 .email{
    display: block;  
    background-color: #E0842B;
    border-radius: 5px;
    width: 80%;
    margin: 5px auto;
    height:34px ;

  }  
.material-icons{
    height: 34px;
    width: 30px;
    transform: translateY(5px);
}
#icon-senha{
margin-left: 5px;

}
#person-icon{
    margin-left: 5px;
}
#e-email{
    
    padding: 5px;
    background-color: #fdfdfd96;
    border-radius: 5px;
    width: calc(100% - 39px);
    transform: translateY(-1.5px) translateX(-6px);

   

}
#senha-icon{
    margin-left: 5px;
}
#e-senha{
    padding: 5px;
    background-color: #fdfdfd96;
    border-radius: 5px;
   
    width: calc(100% - 39px);
    transform: translateY(-1.5px) translateX(-6px);
}

.botao{
    display: block;
    max-width: 5px 0px;

} 
.senha{
    margin-top: 20px;
    background-color: #E0842B;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    height:34px ;

}
.env{
    margin-top: 14px;
 display: block;
 width: 100%;
 padding: 10px;
 background-color: #139b21 ;
 color: white;
 border-radius: 5px;
 border-color: 1px;
} 
.env:hover{
    background-color: #052007;
    border-width: 2px;
    border-color: #139b21;
    transition: 0.4s;
}
.esq{
    margin-top: 20px;
    width: 100%;
    display: block;
    text-align: center;
}

